{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-async-generator-functions"
    /* [
      "import",
      {
        "style": "css",
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ] */
  ]
}
